.container {
  width: 90%;
  margin: 0 auto;
}

.container img {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  width: 45%;
}

.col-2 {
  width: 70%;
}

.col-bg {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  margin: 15px;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .columns {
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}
